<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-home"></i> Multisell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <!-- Place your Navigation here if you wish to -->
            <li class="nav-item active">
                <a class="nav-link active" href="home_match.html">My Products</a>
            </li>
        </ul>
        <form class="form-inline  mr-auto" style="width:60rem;">
            <input class="form-control mr-sm-2" style="width:50rem;" type="search" placeholder="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>