{% extends 'mainapp/main.html' %}

{% load static %}

{% block content %}

    <div class="row my-5">
        <div class="col-sm d-inline-flex justify-content-center">
            <h3 class="card-title border p-4">    Inventory Status    </h3>    <!-- This has blank Spaces for adujstment -->
            <!-- <div class="card text-center">
                <div class="card-header">
                   
                </div>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-A+">  
                <div class="card-header">
                    <h4 class="card-title">A+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-B+">  
                <div class="card-header">
                    <h4 class="card-title">B+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-O+">  
                <div class="card-header">
                    <h4 class="card-title">O+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-AB+">  
                <div class="card-header">
                    <h4 class="card-title">AB+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-A+">  
                <div class="card-header">
                    <h4 class="card-title">A+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-A+">  
                <div class="card-header">
                    <h4 class="card-title">A+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-A+">  
                <div class="card-header">
                    <h4 class="card-title">A+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center textprimary m-4" id="group-A+">  
                <div class="card-header">
                    <h4 class="card-title">A+</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">176</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
